@using iSMusic.Controllers
@using iSMusic.Models.Infrastructures
@model IEnumerable<iSMusic.Models.EFModels.SongGenre>

@{
    ViewBag.Title = "Index";

    var pagedInfo = (PaginationInfo)ViewBag.Pagination;
    var pageSizeList = (IEnumerable<SelectListItem>)ViewBag.PageSizeList;
    var genreName = ViewBag.GenreName as string;
}

<h1>歌曲種類</h1>

@*<input type="text" name="genreName" id="genreName" class="form-control" value="@genreName" />*@
<table class="table">
    <tr>
        <th>
            種類名稱
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.genreName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id })
            </td>
        </tr>
    }

</table>
<div class="d-flex justify-content-center">
    @pagedInfo.RenderPager(page => "/SongGenres/Index?PageNumber=" + page)
</div>