body {
    margin: 0px;
    padding: 0px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-horizontal-25px
{
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.margin-top-120{
    margin-top: 120px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

#dataTables_length>label{
    display: flex !important;
}

#dataTable thead {

}

.mt-120px{
    margin-top: 120px;
}



.orange-btn {
    background-color: #F68657;
    color: white;
}

.padding-0px{
    padding: 0px !important;
}

.middle-align{
    vertical-align: middle;
    display: block;
    margin: auto;
}

.fs-14px{
    font-size: 14px !important;
}

.fs-12px {
    font-size: 12px !important;
}

.form-control:focus,
.form-select:focus,
.pagination:focus{
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.margin-left{
    margin-left: 80px;
}

.nav-bgc {
    background-color: #1f1f1f !important;
}

.theme-color{
    color: #f6b352;
}

.white{
    color: white;
}